.bar-and-search{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  top:0;
  position: sticky;
}
.header-bar{
  background-color: rgb(133, 235, 240);
  height: 100px;
  
}
.header-bar > .bar-and-search{
  margin-top: 10px;
}
.search{
  width: 500px
}
.search-btn{
  margin-top: 16px;
  margin-left: 20px;
}
.product-data{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.finalprice{
  text-decoration: line-through;
  font-size: 12px;
}
.card-header{
  border: 1px solid black;
  box-shadow: 2px 2px 2px red;
  padding-bottom: 5px;
  border-radius: 20px;
  color: rgb(251, 234, 123);
}